@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300;1,400&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 10px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 40px;
    width: 90%;
    margin: 20px auto;
    background-image: url('bg.jpg');
    align-content: stretch;
    flex-wrap: wrap
}
.bottom{
    position: sticky;
    height: 100px;
    /* width: fit-content; */
    color: white;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
cursor: pointer;
}
.fa-play{
padding: 0 50px;
}
.fa-pause{
padding: 0 52px;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 54px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 3px;
}
.songInfo{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    right: 10vw;
    padding-top: 2vw   
}
.songInfo img{
    opacity: 1;
    margin-right: 5px;
    transition: opacity 0.3s ease-in;
}